<%= render 'shared/page_title',title: "All Reecipes"%>

<ul class="nav nav-tabs">
    <li class='active'>
        <%= link_to "Reecipes", reecipes_path %>
    </li>
   
  <li>
        <%= link_to "Chefs",chefs_path %>
    </li>
</ul>

<%= will_paginate %>


<% @reecipes.each do |reecipe| %>
<div class="row">
    <div class="col-md-2">
        <section class="chef_info center">
             <%= link_to gravatar_for(reecipe.chef, size: 100), chef_path(reecipe.chef) %>
            <h5>Chef name: <%= reecipe.chef.chefname %></h5>
           
            
</section>
</div>
<div class="col-lg-5 well">
  <h4><%= link_to reecipe.name, reecipe_path(reecipe)%></h4>
  <p><%= reecipe.summary %></p>
  <p>
      <span class='quiet'><small>created: <%= time_ago_in_words(reecipe.created_at) %>ago,</small></span>
      <span class='quiet'><small>updated: <%= time_ago_in_words(reecipe.updated_at) %>ago</small></span>
      </p>
      <div class="pull-right">
                <%= link_to like_reecipe_path(reecipe, like: true), method: :post do %>
                <i class="glyphicon glyphicon-thumbs-up"></i>&nbsp <%= reecipe.thumbs_up_total %>
                <% end %> &nbsp&nbsp&nbsp&nbsp
                <%= link_to like_reecipe_path(reecipe, like: false), method: :post do %>
                <i class="glyphicon glyphicon-thumbs-down"></i>&nbsp <%= reecipe.thumbs_down_total %>
                <% end %>&nbsp&nbsp&nbsp&nbsp
                
            </div>
            
</div>
<div class="col-md-4">
    <%= image_tag(reecipe.picture.url, size: "140X150", class: "gravatar") if reecipe.picture? %>
</div>
<hr/>
</div>
<% end %> 
<%= will_paginate %>