<%= render 'shared/page_title',title: @reecipe.name %>
<div class="row">
    <div class="col-md-4-pull-right center">
    <%= link_to gravatar_for(@reecipe.chef, size: 200), chef_path(@reecipe.chef) %>
    <p>
    <h5>Brought to u by: <%= @reecipe.chef.chefname %></h5>
    </p>
    </div>
    <div class= "col-md-8">
        <% if logged_in? and @reecipe.chef == current_user %>
        
        <%= link_to "Edit this reecipe", edit_reecipe_path(@reecipe), class: "btn btn-success pull-right" %>
        <% end %>
        <h3><%= @reecipe.summary %></h3>
        <div class="show_reecipe">
            <%= image_tag(@reecipe.picture.url, class: "gravatar") if @reecipe.picture? %>
        </div>
        <div class= "well">
            <p>
                <strong>
                    Steps:
                </strong>
            </p>
            <%= simple_format(@reecipe.description) %>
            <div class="pull-right">
                <%= link_to like_reecipe_path(@reecipe, like: true), method: :post do %>
                <i class="glyphicon glyphicon-thumbs-up"></i>&nbsp <%= @reecipe.thumbs_up_total %>
                <% end %> &nbsp&nbsp&nbsp&nbsp
                <%= link_to like_reecipe_path(@reecipe, like: false), method: :post do %>
                <i class="glyphicon glyphicon-thumbs-down"></i>&nbsp <%= @reecipe.thumbs_down_total %>
                <% end %>&nbsp&nbsp&nbsp&nbsp
                
            </div>
            
                
        </div>  
    </div>
</div>
    <h5><%= link_to "Return Reecipe listing", reecipes_path, class: "btn btn-warning btn-small" %></h5>